################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opendb
/Debug
/NDK_Learn/Debug
/JNI/C/JNI_Learn/Debug
/JNI/C/JNI_Learn/JNI_Learn/Debug
/JNI/C/JNI_Learn/JNI_Learn/x64/Debug
/JNI/C/JNI_Learn/x64/Debug
